---
import MainTerminal from '../layouts/MainTerminal.astro';
import StrategyMonitor from '../components/organisms/StrategyMonitor.svelte';
---

<MainTerminal title="策略回測" fullWidth={true}>
    <div class="relative px-4 lg:px-6">
        <StrategyMonitor client:idle />
    </div>
</MainTerminal>
