---
import MainTerminal from '../layouts/MainTerminal.astro';
import WatchlistManager from '../components/organisms/WatchlistManager.svelte';
---

<MainTerminal title="自選監控中心" fullWidth={true}>
    <div class="relative px-4 lg:px-6">
        <WatchlistManager client:load />
    </div>
</MainTerminal>
