---
/**
 * PriceLabels.astro
 */
interface Props {
    priceMax: number;
    priceMin: number;
}
const { priceMax, priceMin } = Astro.props;
---

<div
    class="absolute left-2 top-12 bottom-[140px] flex flex-col justify-between text-[9px] font-mono text-text-muted z-10 py-10"
>
    <span>{priceMax.toFixed(1)}</span>
    <span>{(priceMax * 0.75 + priceMin * 0.25).toFixed(1)}</span>
    <span>{((priceMax + priceMin) / 2).toFixed(1)}</span>
    <span>{(priceMax * 0.25 + priceMin * 0.75).toFixed(1)}</span>
    <span>{priceMin.toFixed(1)}</span>
</div>
